{% extends 'base-front.html.twig' %}

{% block title %}My profile{% endblock %}

{% block body %}
<!-- head -->
<section class="section section--head">
    <div class="container">
        <div class="row">
            <div class="col-12 col-xl-6">
                <h1 class="section__title section__title--head">Profile</h1>
            </div>

            <div class="col-12 col-xl-6">
                <ul class="breadcrumb">
                    <li class="breadcrumb__item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb__item breadcrumb__item--active">Profile</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- end head -->

<!-- profile -->
<div class="catalog catalog--page">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="profile">
                    <div class="profile__user">
                        <div class="profile__avatar">
                            <img src="{{ asset('uploads/images/' ~ user.image) }}" alt="">
                        </div>
                        <div class="profile__meta">
                            <h3>{{ user.name }}</h3>
                            <span>{{ user.email }}</span>
                        </div>
                        <div>
                            <img width="100" height="100" src="{{ qr_code_path("Name : #{app.user.name}\nEmail : #{app.user.email}" ) }}" />
                        </div>

                    </div>

                    <!-- tabs nav -->
                    <ul class="nav nav-tabs profile__tabs" id="profile__tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#tab-3" role="tab" aria-controls="tab-3" aria-selected="false">Settings</a>
                        </li>
                    </ul>
                    <!-- end tabs nav -->

                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <!-- content tabs -->
        <div class="tab-content">

            <div class="tab-pane fade show active" id="tab-3" role="tabpanel">
                <div class="row">
                    <div class="col-12">
                        <div class="sign__wrap">
                            <div class="row">
                                <!-- details form -->
                                <div class="col-12 col-lg-6">
                                        <form method="post" enctype="multipart/form-data" action="{{ path('app_edit_profile') }}" class="sign__form sign__form--profile sign__form--first">
                                            <div class="row">
                                                <div class="col-12">
                                                    <h4 class="sign__title">Profile details</h4>
                                                </div>

                                                <div class="col-12 col-md-6 col-lg-12 col-xl-6">
                                                    <div class="sign__group">
                                                        <label class="sign__label" for="username">Login</label>
                                                        <input id="username" type="text" name="name" class="sign__input" placeholder="User123" value="{{ app.user.name }}">
                                                    </div>
                                                </div>

                                                <div class="col-12 col-md-6 col-lg-12 col-xl-6">
                                                    <div class="sign__group">
                                                        <label class="sign__label" for="email">Email</label>
                                                        <input id="email" type="text" name="email" class="sign__input" placeholder="email@email.com" value="{{ app.user.email }}">
                                                    </div>
                                                </div>

                                                <div class="col-12 col-md-6 col-lg-12 col-xl-6">
                                                    <div class="sign__group">
                                                        <label class="sign__label" for="firstname">Birthday</label>
                                                        <input id="bday" type="date" name="bday" class="sign__input" value="{{ app.user.bday|date('Y-m-d')  }}">
                                                    </div>
                                                </div>

                                                <div class="col-12">
                                                    <div class="form__gallery">
                                                        <label id="gallery1" for="form__gallery-upload">Upload photos</label>
                                                        <input data-name="#gallery1" id="form__gallery-upload" name="image" class="form__gallery-upload" type="file" accept=".png, .jpg, .jpeg" multiple>
                                                    </div>
                                                </div>
                                                {% for message in app.flashes('info-success-info')  %}
                                                    <div class="sign__text">
                                                        {{ message }}
                                                    </div>
                                                {% endfor %}


                                                <div class="col-12">
                                                    <button class="sign__btn" type="submit">Save</button>
                                                </div>
                                            </div>
                                        </form>
                                </div>
                                <!-- end details form -->

                                <!-- password form -->
                                <div class="col-12 col-lg-6">
                                    <form method="post" action="{{ path('app_edit_profile_password') }}" class="sign__form sign__form--profile">
                                        <div class="row">
                                            <div class="col-12">
                                                <h4 class="sign__title">Change password</h4>
                                            </div>

                                            <div class="col-12 col-md-6 col-lg-12 col-xl-6">
                                                <div class="sign__group">
                                                    <label class="sign__label" for="newpass">New password</label>
                                                    <input id="newpass" type="password" name="newpass" class="sign__input">
                                                </div>
                                            </div>

                                            <div class="col-12 col-md-6 col-lg-12 col-xl-6">
                                                <div class="sign__group">
                                                    <label class="sign__label" for="confirmpass">Confirm new password</label>
                                                    <input id="confirmpass" type="password" name="confirmpass" class="sign__input">
                                                </div>
                                            </div>
                                            {% for message in app.flashes('info-warning')  %}
                                                <div class="sign__text">
                                                    {{ message }}
                                                </div>
                                            {% endfor %}
                                            {% for message in app.flashes('info-success')  %}
                                                <div class="sign__text">
                                                    {{ message }}
                                                </div>
                                            {% endfor %}

                                            <div class="col-12">
                                                <button class="sign__btn" type="submit">Change</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <!-- end password form -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end content tabs -->
    </div>
</div>
<!-- end profile -->

<!-- partners -->
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="partners owl-carousel">
                    <a href="#" class="partners__img">
                        <img src="{{ asset('front/img/partners/3docean-light-background.png') }}" alt="">
                    </a>

                    <a href="#" class="partners__img">
                        <img src="{{ asset('front/img/partners/activeden-light-background.png') }}" alt="">
                    </a>

                    <a href="#" class="partners__img">
                        <img src="{{ asset('front/img/partners/audiojungle-light-background.png') }}" alt="">
                    </a>

                    <a href="#" class="partners__img">
                        <img src="{{ asset('front/img/partners/codecanyon-light-background.png') }}" alt="">
                    </a>

                    <a href="#" class="partners__img">
                        <img src="{{ asset('front/img/partners/photodune-light-background.png') }}" alt="">
                    </a>

                    <a href="#" class="partners__img">
                        <img src="{{ asset('front/img/partners/themeforest-light-background.png') }}" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end partners -->

{% endblock %}

